.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 99px;
    padding-bottom: 47px;
  }
}
.features__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-right: 0;
  }
}
.features__icon {
  display: flex;
  background-color: $thirdBackgroundColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}
.features__item {
  @media screen and (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: $mainMargin;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - #{$mainMargin}) / 2);

    &:nth-child(2n + 1) {
      margin-right: $mainMargin;
    }

    &:nth-child(-n + 2) {
      margin-bottom: $mainMargin;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * #{$mainMargin}) / 4);

    &:not(:last-child) {
      margin-right: $mainMargin;
      margin-bottom: 0;
    }
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $mainTextColor;
  margin-bottom: 10px;

  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}
.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: $secondaryTextColor;
}
