.footer {
  background-color: $secondaryBackgroundColor;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__wrapper {
  display: flex;

  @media screen and (max-width: $tablet - 1px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $desktop - 1px) {
    margin-bottom: 60px;
    flex-direction: row;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    margin: 0;
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 165px;
  }
}
.address__list {
  margin-top: 20px;

  @media screen and (max-width: $desktop - 1px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $thirdTextColor;
  transition: color $animationDuration $animationTimingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.address__mail,
.address__phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $addressPhoneMailColor;
  transition: color $animationDuration $animationTimingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
  }
}

.join {
  display: flex;
  flex-direction: column;

  margin-bottom: 60px;

  @media screen and (max-width: 1199px) {
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 93px 0 70px;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $thirdTextColor;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  align-items: baseline;
}

.join__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.join__link {
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $thirdTextColor;
  transition: background-color $animationDuration $animationTimingFunction;

  &:focus,
  &:hover {
    background-color: $accentColor;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $desktop - 1px) {
    align-items: center;
    width: 100%;
  }
}
.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $thirdTextColor;
}

.subscribe__form {
  margin-top: 20px;
  display: flex;
  width: 100%;
  @media screen and (max-width: $desktop - 1px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: $secondaryBackgroundColor;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;

  height: 50px;
  padding: 15px 0 15px 16px;

  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border $animationDuration $animationTimingFunction;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  &:focus,
  &:hover {
    border: 1px solid rgba(33, 150, 243, 0.3);
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: $accentColor;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $thirdTextColor;

  transition: background-color $animationDuration $animationTimingFunction;

  &:focus,
  &:hover {
    background-color: $modalBtnBackgroundColor;
    cursor: pointer;
  }
}

.subscribe__icon {
  fill: currentColor;
  margin: 13px 0 13px 10px;
}
